body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.move-left {
  position: relative;
  animation: moveleft 1s;
  padding: 20px;
  margin: 20px;
  width: 300px;
  animation-fill-mode: forwards;
}

.move-right {
  position: relative;
  animation: moveright 1s;
  padding: 20px;
  margin: 20px;
  width: 300px;
  animation-fill-mode: forwards;
}

@keyframes moveleft {
  from {
    left: 0%;
  }
  to {
    left: 20%;
  }
}

@keyframes moveright {
  from {
    left: 0;
  }
  to {
    left: 70%;
  }
}

.user-sections {
  display: flex;
  flex: column;
  justify-content: space-around;
}

.pieChart {
  margin-right: 100px;
}
a,
a:visited {
  color: black;
  text-decoration: none;
}

label {
  display: block;
}

nav.nav-center {
  background-color: #80cbc4;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo img {
  width: 100px;
  height: 100px;
  padding-right: 10px;
  padding-top: 10px;
}

.login-container img {
  width: 100px;
  height: 100px;
  padding-right: 10px;
  padding-top: 10px;
}

.logo h1 {
  padding: 0px 0;
  margin-bottom: 0px;
}

nav.nav-center ul {
  text-align: center;
}

.login-container {
  display: flex;
  flex: column;
}

nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.users-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.assignment {
  padding: 10px;
}

.users-container {
  vertical-align: top;
}

.userDetails {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: solid gray;
  border-radius: 25px;
  padding: 20px;
}

.historical-data {
  margin-right: 50px;
}
